.mainContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 20px 8px 0;
}

.titleContainer {
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
}

.title {
  align-self: center;
  color: black;
  font-family: CerebriSans-Bold;
  font-size: 18px;
  height: 30px;
  letter-spacing: -0.13px;
}

.filter {
  font-family: CerebriSans-Semibold;
  font-size: 14px;
  letter-spacing: -0.13px;
  color: #bfbfbf;
  align-self: flex-end;
  height: 30px;
  width: 50px;
}

.list {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 1rem 1rem 0;
}

.albums {
  background-color: #FAF9FA;
}

.all {
  background-color: yellow;
}

.deleted {
  background-color: green;
}

.photo {
  min-width: 206px;
  height: 206px;
  object-fit: cover;
  margin-right: 16px;
}