.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}

.photo {
}