.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hidden {
  display: none;
}

.photo {
  max-width: 80vw;
  max-height: 80vh;
}

.download {
  color: white;
}