.card {
  background-color: #fff;
  display: flex;
  min-width: 411px;
  max-height: 249px;
  margin-right: 24px;
  margin-bottom: 8px;
  border-radius: 6px;
  padding: 4px 0 0 4px;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.23);
}

.card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.albumCover {
  display: flex;
  flex-direction: column;
}

.primaryCoverPhoto {
  height: 158px;
  width: 158px;
  object-fit: cover;
  border-top-left-radius: 6px;
  margin: 0 4px 4px 0;
}

.secondaryCoverPhotos {
  display: flex;
  flex-direction: row;
}

.smallPhoto {
  width: 77px;
  height: 77px;
  margin: 4px 0 0 0;
}

.roundedBottomLeft {
  border-bottom-left-radius: 6px;
}

.roundedTopRight {
  border-top-right-radius: 6px;
}

.roundedBottomRight {
  border-bottom-right-radius: 6px;
}

.photosList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

.photo {
  width: 77px;
  height: 77px;
  object-fit: cover;
  margin: 0 4px 4px 0;
}

.emptyItem {
  width: 77px;
  height: 77px;
  background-color: #F7F5F7;
  margin: 0 4px 4px 0;
}

.albumTitle {
  color: #2a2c35;
  font-family: CerebriSans-Regular;
  font-size: 22px;
  letter-spacing: -0.14px;
  margin: 0 0 0 18px;
}

.albumSubtitle {
  color: #b5b5b5;
  font-size: 16px;
  margin-left: 8px
};