.mainContainer {
  width: 300px;
  height: 200px;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
  padding-top: 6px;
  margin-right: 24px;
}

.boxShadow {
  -webkit-box-shadow: 0px 6px 9px 4px rgba(150,150,150,1);
  -moz-box-shadow: 0px 6px 9px 4px rgba(150,150,150,1);
  box-shadow: 0px 6px 9px 4px rgba(150,150,150,1);
}
.albumCover {
  width: 300px;
}

.bigImageContainer {
  width: 121px;
  height: 121px;
  border: 1px solid;
}

.bigImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.smallImageContainer {
  width: 121px;
  height: 60px;
  border: 1px solid black;
  margin-top: 2px;
}

.image {
  width: 58px;
  height: 58px;
}