.card {
  background-color: #fff;
  display: flex;
  min-width: 411px;
  max-height: 249px;
  border: 1px solid;
  margin-right: 24px;
  border-radius: 6px;
  padding: 4px 0px 4px 4px;
  overflow: hidden;
}

.albumCover {
  display: flex;
  flex-direction: column;
}

.primaryCoverPhoto {
  height: 158px;
  width: 158px;
  border: 1px solid;
  border-top-left-radius: 6px;
}

.secondaryCoverPhotos {
  display: flex;
  flex-direction: row;
}

.smallPhoto {
  width: 77px;
  height: 77px;
  border: 1px solid;
  margin: 4px 0 0 0;
}

.roundedBottomLeft {
  border-bottom-left-radius: 6px;
}

.photosList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

.photoList::-webkit-scrollbar {
  width: 1px;
  height: 0px;
}

.photo {
  width: 77px;
  height: 77px;
  object-fit: cover;
  border: 1px solid;
  margin: 0 0 4px 4px;
}