.container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 199px;
  width: 361px;
  background-color: #f5f5f5;
  border-color: white;
  border-radius: 9px;
  border: 12px solid white;
  padding: 57px 0;

  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.23);
}

.card:hover {
  cursor: pointer;
  opacity: 0.7;
}

.icon {
  height: 25px;
  width: 38px;
  object-fit: contain;
}

.title {
  color: black;
  font-family: CerebriSans-SemiBold;
  font-size: 16px;
  margin-top: 8px
}